form {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px 40px;
  background-color: rgba(2, 16, 74, 0.7);
  border-radius: 5px;
  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
  }
}
