* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

a, a:visited {
  outline: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

section, footer, header, aside {
  display: block;
}
button {
  outline: none;
}

body {
  font: 15px/1.3 'Raleway', sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#stage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  transition: top 0.4s;
}

#stage > div { /* The step divs */
  height: 100%;
  position: relative;
}


#stage h1 {
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

#stage h2 {
  font-weight: normal;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: -40px 0 45px;
  font-style: italic;
}

.content {
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  width: 100%;
}

.content input[type=file] {
  display: none;
}

a.back {
  width: 32px;
  height: 32px;
  background: url('../img/icons.svg') no-repeat -192px 0;
  position: absolute;
  cursor: pointer;
  top: 50px;
  left: 50%;
  z-index: 10;
  opacity: 0.8;
  margin-left: -16px;
  display: none;
}

a.back:hover {
  opacity: 1;
}


/*-------------------------
	Conditional classes
--------------------------*/


[class*="if-"] {
  display: none;
}

body.encrypt .if-encrypt {
  display: block;
}

body.decrypt .if-decrypt {
  display: block;
}


/*-------------------------
	Button styles
--------------------------*/


.cipher-button {
  width: 300px;
  height: 70px;
  text-align: center;
  text-decoration: none !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  line-height: 70px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  font-size: 18px;
  margin: 10px auto 20px;
  opacity: 0.9;
  background-color: #dc3545;
}

.cipher-button:hover {
  opacity: 1;
}

.cipher-button::before {
  content: '';
  background: url(../img/icons.svg) no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  padding-right: 13px;
}

/* Styles for specific buttons */

.cipher-button.encrypt::before {
  background-position: 0 0;
}

.cipher-button.decrypt::before {
  background-position: -96px 0;
}

.cipher-button.browse::before {
  background-position: -240px 0;
}

.cipher-button.process::before {
  background-position: -142px 0;
}

.cipher-button.download:before {
  background-position: -48px 0;
}

.btn-back {
  color: #fff;
  padding: 10px 30px;
  background: #dc3545;
  border: none;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.btn-back:before {
  display: none;
}


/*-------------------------
	The steps
--------------------------*/

#step3 input[type=password] {
  background-color: #fff;
  border: none;
  padding: 8px 18px;
  line-height: 1;
  font: inherit;
  display: inline-block;
  outline: none;
  width: 400px;
  margin-bottom: 18px;
  border-radius: 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
  font-size: 36px;
  color: #555;
}

#step1 .content {
  margin-top: -180px;
  margin-left: calc((100% - 1000px) / 2);
  padding: 20px 0;
  background-color: rgba(2, 16, 74, 0.7);
  border: 2px solid #fff;
  border-radius: 5px;
  width: 1000px;
  height: 340px;
}

#step2 .content {
  margin-top: -180px;
  margin-left: calc((100% - 1000px) / 2);
  padding: 20px 0;
  background-color: rgba(2, 16, 74, 0.7);
  border: 2px solid #fff;
  border-radius: 5px;
  height: 340px;
  width: 1000px;
}

#step3 .content {
  margin-top: -180px;
  margin-left: calc((100% - 1000px) / 2);
  padding: 20px 0;
  background-color: rgba(2, 16, 74, 0.7);
  border: 2px solid #fff;
  border-radius: 5px;
  height: 380px;
  width: 1000px;
}

#step4 .content {
  margin-top: -180px;
  margin-left: calc((100% - 1000px) / 2);
  padding: 20px 0;
  background-color: rgba(2, 16, 74, 0.7);
  border: 2px solid #fff;
  border-radius: 5px;
  height: 240px;
  width: 1000px;
}
